html,
body {
    margin: 0;
}

h1 {
    color: white;
}

#top-container {
    background-color: black;
    margin: auto;
    padding: 10px;
}

#main-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 1em;
    width: 14em;
    height: 14em;
    border-style: groove;
    border-width: 3px;
    border-radius: 1%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#product-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#product-info-container {
    display: flex;
    width: auto;
}

#product-info-image {
    margin: 1em;
}

#product-description {
    width: 250px;
}

#product-info-specs {
    width: 250px;
}

#product-price {
    margin-top: 1em;
    margin-bottom: 0;
}

.button {
    width: 100px;
    height: 40px;
    border-radius: 5%;
}

#loan-button {
    background-color: rgb(67, 147, 67);
    color: white;
    width: 200px;
}

#work-button {
    background-color: rgb(58, 35, 230);
    color: white;
}

#pay-button {
    background-color: rgb(235, 47, 47);
    color: white;
    margin-top: 1em;
}

#bank-button {
    background-color: rgb(241, 241, 56);
}

#buy-product-button {
    background-color: rgb(30, 214, 247);
    width: 10em;
    height: 2em;
}
